* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Add font family here, later */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  background: #1a2035;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky; /* Might change later */
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-logo {
  text-decoration: none;
  background-image: linear-gradient(to top, #da4167 0%, #f78764 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fa-dragon {
  margin: 0 15px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
}

.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #da4167;
  padding: 10px 20px;
  border-radius: 7px;
}

.button:hover {
  background: #083d77;
  transition: all 0.3s ease;
}

.navbar-links:hover {
  color: #f78764;
  transition: all 0.3s ease;
}

/* Hero Section */
.main {
  background: #1a2035;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  max-width: 1300px;
  width: 100%;
  padding: 0 50px;
}

.main-content h1 {
  background-image: linear-gradient(to top, #da4167 0%, #f78764 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.main-content h2 {
  background-image: linear-gradient(to top, #083d77 0%, #f4d35e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.main-content p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.main-content button {
  font-size: 1rem;
  background-image: linear-gradient(to top, #da4167 0%, #f78764 100%);
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.main-content button a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.main-content button:hover {
  background: #083d77;
}

.main-img-container img {
  width: 100%;
  height: 100%;
}

.services {
  background: #1a2035;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services h1 {
  background-image: linear-gradient(to right, #da4167 0%, #f4d35e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-card-1 {
  height: 525px;
  width: 400px;
  border-radius: 15px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.918) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./images/leftSection.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.services-card-2 {
  height: 525px;
  width: 400px;
  border-radius: 15px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.616) 50%,
      rgb(0, 0, 0) 100%
    ),
    url("./images/rightSection.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.card {
  margin: 4rem 1.5rem;
}

.card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
}

.services-container h2 {
  position: absolute;
  top: 350px;
  left: 30px;
  font-size: 2.2rem;
}

.services-container p {
  position: absolute;
  top: 400px;
  left: 30px;
  font-size: 1.2rem;
}

.services-container button {
  color: white;
  outline: none;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  background: #f78764;
  font-size: 1.2rem;
  position: absolute;
  top: 440px;
  left: 30px;
  cursor: pointer;
}

footer {
  background: #1a2035;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 3rem;
  text-align: left;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
  color: white;
}

.footer-link-items a {
  text-decoration: none;
  color: white;
}

.footer-link-items a:hover {
  color: #f78764;
}

.social-icon-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website-rights {
  color: white;
}

@media screen and (max-width: 750px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin-left: -50px;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar-menu.active {
    background-color: rgb(19, 32, 41);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  .navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    margin: 7px;
    transition: all 0.5s ease-in-out;
  }

  .navbar-toggle {
    cursor: pointer;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 25%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-button {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 95vh;
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;
  }

  .main-content h1 {
    margin-top: 2rem;
  }

  .main-content button {
    margin-top: 3rem;
  }

  .services {
    height: 180vh;
  }

  .services h1 {
    margin-top: 5rem;
    text-align: center;
  }

  .services-card-1 {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 375px;
  }

  .services-card-2 {
    margin-top: 1rem;
    width: 375px;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .website-rights {
    margin-bottom: 1rem;
  }
}
